@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font: 'Montserrat', sans-serif;
$base-color: #333;
$accent-color: #5ededd;
$tablet: 768px;
$desktop: 990px;

body {
  font-family: $font!important;
}

.container {
  max-width: 1350px!important;
}

.section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .btn {
    background-color: $accent-color;
    color: #fff;
    text-transform: uppercase;
    border-radius: 0;
    padding: 15px 30px;
    font-size: 14px;

    &:hover {
      background-color: rgb(81,80,87);
      color: #fff;
    }
  }

  a {
    color: $accent-color;
    transition: all .3s linear;

    &:hover {
      text-decoration: none;
      color: rgb(81,80,87);
    }
  }
}

.title {
  font-weight: 500;
  font-size: 30px;
  position: relative;
  padding-left: 25px;
  margin-bottom: 30px;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 4px;
    background-color: $accent-color;
  }
}

.text {
  margin-bottom: 40px;
}

img {
  max-width: 100%;
  height: auto;
}